<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsy.dao.ProductOrderDao">
  <select id="queryProductOrder" resultType="productOrder">
   select * from product_order
  </select>
  
  <delete id="delProductOrderById" parameterType="string">
  	delete from product_order where order_id=#{orderId}
  </delete>
  
  <select id="querProductOrderById" parameterType="string" resultType="productOrder">
   select * from product_order where order_id=#{orderId}
  </select>
</mapper>
