<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsy.dao.StoreDao">
  <select id="queryStore" resultType="store">
   select * from store
  </select>
  <delete id="delStoreById" parameterType="string">
  	delete from store where store_id=#{storeId}
  </delete>
  <select id="querStoreById" parameterType="string" resultType="store">
   select * from store where store_id=#{storeId}
  </select>
</mapper>
